body {
    /* padding-top: 56px !important; */
    min-width: 768px;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 17px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 56px;
    padding-left: 15px;
    padding-right: 15px;
}

.container .main {
    float: left;
    width: 620px;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 15px;
}

.container .main .banner {
    position: relative;
}

.container .main .banner .bothBtn {
    position: absolute;
    top: 40%;
    z-index: 999;
    width: 100%;
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    opacity: 0;
}
.bothBtnShow{
    opacity: 1 !important;
}
.container .main .banner .bothBtn .prev,
.container .main .banner .bothBtn .next {
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
}

.container .main .banner .bothBtn .prev {
    float: left;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.container .main .banner .bothBtn .next {
    float: right;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.banner .bothBtn i {
    font-size: 20px;
    color: #fff;
}

.container .main .load-more {
    width: 100%;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #a5a5a5;
    display: block;
}


.container .aside {
    float: right;
    padding: 30px 0 0;
    width: 270px;

}

.ant-carousel .slick-slide {
    width: 100%;
    height: 100%;
}


.ant-carousel {
    width: 605px !important;
    height: 270px !important;
    margin-bottom: 35px !important;
    border-radius: 6px;
}

.main .slide-box {
    width: 100%;
}

.main .slide-box a {
    display: block;
    width: 605px;
    height: 270px;
}

.main .slide-box a img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.ant-carousel .slick-slider {
    width: 100%;
    height: 100%;
}

.ant-carousel .slick-dots li button {
    width: 24px !important;
    background-color: #333 !important;
}

.ant-carousel .slick-dots li.slick-active button {

    background: #fff !important;

}

.note-list {
    width: 100%;
}

.note-list .have-img {
    min-height: 140px;
    width: 100%;
    margin: 0 0 15px;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}

.note-list .have-img .wrap-img {
    float: right;
    width: 150px;
    height: 100px;
}

.note-list .have-img .wrap-img .img-blur-done {
    width: 100%;
    height: 100%;
}

.note-list .have-img .note-list-l {
    float: left;
    width: 436px;
}

.note-list .title {
    margin: -7px 0 4px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #2F2F2F;
}
.note-list .title:hover{
    text-decoration: underline;
}
.note-list .abstract {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
}

.note-list .meta {
    padding-right: 0 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.jsd-meta {
    color: #ea6f5a !important;
}

.note-list .meta span {
    margin-right: 10px;
    color: #b4b4b4;
}

.note-list .meta .iconfont {
    font-size: 12px;
}

.note-list .meta a {
    margin-right: 10px;
    color: #b4b4b4;
}

.note-list .meta a:hover {
    color: #787878;
}

.aside .board {
    margin-top: -4px;
    padding-bottom: 4px;
    min-height: 228px;
}

.aside .board img {
    width: 100%;
    min-height: 50px;
    margin-bottom: 6px;
    border-radius: 4px;
}

.aside .download {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding: 10px 22px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
}
.aside .download:hover .big-qr{
    visibility: visible;
    opacity: 1;
}
.aside .download .big-qr{
    position: absolute;
    top: -191px;
    left: 20px;
    z-index: 99;
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
.aside .download .big-qr::after{
    content: '';
    position: absolute;
    bottom: -22px;
    left: 78px;

    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #fff;
    
}
.aside .download .big-qr img{
    width: 100%;
    height: 100%;
}
.aside .download .qrcode {
    width: 60px;
    height: 60px;
    opacity: .85;
}

.aside .download .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.aside .download .info .title {
    font-size: 15px;
    color: #333;
}

.aside .download .info .description {
    margin-top: 4px;
    font-size: 13px;
    color: #999;
}

.aside .ad {
    position: relative;
    border-radius: 4px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: RGB(241, 243, 244);
    background-image: url(https://cdn2.jianshu.io/assets/ads/java_1-755777d0f56b28c5455e5e59669a3db8.png);
}

.aside .ad .ad-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    padding: 0 5px;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
}

.recommended-authors {
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 13px;
    text-align: center;
}

.recommended-authors .title {
    text-align: left;
    margin-bottom: 10px;
}

.recommended-authors .title span {
    font-size: 14px;
    color: #969696;
}

.recommended-authors .title .page-change {
    float: right;

    font-size: 14px;
    color: #969696;
}

.recommended-authors .title .icon-shuaxin {
    font-size: 12px;
    margin-right: 6px;
}

.recommended-authors .list {
    margin-bottom: 20px;
    text-align: left;
    list-style: none;
}

.recommended-authors .list .avatar {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.avatar .user-img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.recommended-authors .list .follow {
    float: right;
    margin-top: 5px;
    padding: 0;
    font-size: 13px;
    color: #42c02e;
}

.recommended-authors .list .name {
    padding-top: 5px;
    margin-right: 60px;
    font-size: 14px;
    display: block;
    color: #2F2F2F
}

.recommended-authors .list p {
    margin-top: 2px;
    font-size: 12px;
    color: #969696;
}

.recommended-authors .find-more {
    display: block;
    padding: 7px 7px 7px 12px;
    width: 100%;
    font-size: 13px;
    color: #787878;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.recommended-authors .b-ad {
    position: relative;
    border-radius: 4px;
    display: block;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: RGB(241, 243, 244);
    background-image: url(https://oimageb5.ydstatic.com/image?id=3493803499422546314&product=adpublish&w=1280&h=720&sc=0&rm=2&gsb=0&gsbd=60)
}

.recommended-authors .b-ad .ad-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    padding: 0 5px;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
}





footer .footer-con {
    padding-top: 25px;
    width: 70%;
}

footer .footer-con a {
    color: #969696;
    display: inline-block;
}

footer .icp,
footer .icp a {
    color: #c8c8c8;
}

footer .icp {
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 12px;
}

footer .icp img {
    height: 30px;
}