@charset "UTF-8";

*,
:after,
:before {
    box-sizing: border-box;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
header,
footer {
    margin: 0;
    padding: 0;

}

body,
html {

    font: 16px -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    height: 100%;
    background-color: #fff;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    text-decoration: none;
    border: 0;
    color: #333;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

input {
    border: 0;
    outline: none;
    background: none;
}

em,
i,
b,
strong {
    font-style: normal;
}

img {

    border: 0;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
    font-weight: normal;
}

table,
td,
tr,
th {
    font-size: 12px;
}

.clearFix::before,
.clearFix::after {
    content: '';
    display: block;
    clear: both;
}